<h1>Pages</h1>
<div class="content_unit">
		<% @pages.each do |page| %>
		<div class="controls">
			<div class="controls_item" id="controls_edit">
			<%= link_to "edit", :controller => 'admin/pages', :id => page, :action => 'edit' %>
			</div>
			<div class="controls_item" id="controls_delete">
				<%= link_to "delete", page, :method => :delete, :confirm => "You sure?" %>
			</div>
		</div>
			<div class="index_item_orderable">
				<div class="index_item_heading">
			<%= link_to page.name, :controller => 'admin/pages', :id => page, :action => 'edit' %>
				</div>
			</div>
		<% end %>
</div>

<div class="add_new">
<%= link_to "Add new page", :controller => 'admin/pages', :action => 'new' %>
</div>

