<% content_for :header_tag do %>
<h1>Galleries</h1>
<% end %>

<div class="content_unit">
	<div class="heading">
		<h3 class="heading">Current Galleries</h3>
		<p class="help_text">Below are the current galleries on the site. Click to edit</p>
	</div>	

	<div class="user_input">
		<% for gallery in @galleries %>
		<div class="index_item">
			<div class="index_item_heading">
				<%= link_to gallery.name, :controller => 'admin/galleries', :id => gallery, :action => 'edit' %>
			</div>
			<div class="controls">
				<div class="controls_item" id="controls_edit">
					<%= link_to "edit", :controller => 'admin/galleries', :id => gallery, :action => 'edit' %>
				</div>
				<div class="controls_item" id="controls_delete">
					<%= link_to "delete", gallery, :method => :delete, :confirm => "You sure?" %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

<div class="add_new">
<%= link_to "Add new gallery", :controller => 'admin/galleries', :action => 'new' %>
</div>