<div id="homepage_image">
<%= image_tag 'malago/homepage_main.jpg' %>
</div>
<div id="homepage_content_left">
	<h1>Welcome to <%= @site.name %></h1>
	<p><%= @site.content %></p>
</div>
<%= render 'layouts/opening_times' %>
