body {
  background-color: #ccc;
}

#wrapper {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

h1, h2, h3 {
  color: blue;
}

h1 {
  margin: 5px;
}

ul#top_nav li{
	display: inline;
}

#menu_header {
	height:30px;
	margin-top:	10px;
}

#menu_title {
	font-size: 22px;
	color: blue;
	float: left;
	margin-right:20px;
	
}

.move {
	cursor:	move;
}

.hidden_field {
	display:none;
}

/* 
************************************************************
Flash message
************************************************************
*/

.flash {
	padding: 10px;
	background-color:red;

}

/* 
************************************************************
Autocomplete
************************************************************
*/


.ui-autocomplete {
	background-color: red;
	border: 1px solid;
	width: 200px;
}