* {
	padding: 0px;
	margin: 0px;
}

body {
  font-family: Arial;
  font-size: 14px;
}

#background {
	position: absolute;
	z-index: -1;
	width: 100%;
	left: 0px;
}

#background_header {
	height: 100px;
	background: url(/images/admin/background_header.png) repeat-x #1C3589;
	background: -webkit-gradient(linear, left top, left bottom, from(#5B77B8), to(#003366));
	background: -moz-linear-gradient(top,  #5B77B8,  #003366);
}

#background_menu {
	height: 36px;
	background: url(/images/admin/background_menu.png) repeat-x #003366;
	background: -webkit-gradient(linear, 0 0 , 0 25%, from(#0E1431), to(#003366));
	background: -moz-linear-gradient(top,  #0E1431,  #003366 25%);
}

#background_content {
	height: 60px;	
	background: url(/images/admin/background_content.png) repeat-x #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#EBE5D8), to(#FFF));
	background: -moz-linear-gradient(top,  #EBE5D8,  #FFF);	
	border-top: 1px solid #FFF;
}

#footer_background_top {
	margin-top: 30px;
	height: 60px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EBE5D8));
	background: -moz-linear-gradient(top, #FFF,  #EBE5D8);
	border-bottom: 1px solid #FFF;
}

#footer {
	background: url(/images/admin/footer.png) repeat-x #003366;		
	background: -webkit-gradient(linear, 0 0 , 0 25%, from(#0E1431), to(#003366));
	background: -moz-linear-gradient(top,  #0E1431,  #003366 25%);
	height: 100px;
}

#envelope {
	width:800px;
	margin: 0px auto 0px auto;	
}

.content {
	min-height: 350px;
	position: relative;
}

* html .content {
	height: 250px;
}


/*
*********************************************************
Common to all pages
*********************************************************
*/

h1, h2, h3 {
	color: #3d5f88;
	font-weight: normal;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 20px;
}

ul, ol{
	padding: 0px;
	margin: 0px;
} 

p {
	margin:0px 0px 10px 0px;	
}

a {
	text-decoration:none;	
	color: black;
}

a img {
	border:none;	
}

h1 {
	margin-bottom: 30px;
}

h3 {
	margin-bottom: 5px;
}

li {
	list-style-type: none;
}

.move {
	cursor:	move;
}

.flash {
	padding: 10px;
	background: url(/images/admin/flash.png) repeat-x #438823;	
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);
	color: white;
	text-shadow: none;
	margin-bottom: 20px;
}

#errorExplanation {
	margin-bottom: 20px;
	border: 2px solid #CA0000;
}

#errorExplanation h2 {
	background: #CA0000;
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 0px;
}

#errorExplanation p, #errorExplanation ul {
	padding: 10px 20px;
	margin-bottom: 0px;
}

#errorExplanation ul {
	margin-left: 10px;
}

#errorExplanation li {
	padding-left: 10px;
	list-style-type: disc;
}

/*
*********************************************************
Inputs and buttons
*********************************************************
*/

input[type=text], input[type=password], textarea {
	border: 1px solid #999;
	background: url(/images/admin/input_background.png) repeat-x #fff;
	padding: 8px;
	width: 500px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Arial;
}

input[type=file] {
	border: 1px solid #999;
	background: url(/images/admin/input_background.png) repeat-x #fff;
	margin-bottom: 10px;
	font-family: Arial;
	font-size: 14px;
}

input[type=submit] {
	font-family: Arial !important;
}

.content_unit {
	margin-bottom: 20px;
}

.index_item_orderable {
	font-size:16px;
	background: url(/images/admin/orderable_menu_background.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	width:600px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	padding: 10px;
	position: relative;	
	min-height: 40px;
	margin-bottom: 15px;
}

.move_icon {
	position: absolute;
	left: -35px;
	top: 22px;
	background: url(/images/admin/move_icon.png);
	height: 14px;
	width: 14px;
}

.controls {
	float: right;
	width: 160px;
	margin-top: 20px;
}

.controls_item a,
.add_new a,
.update_button input[type=submit],
.add_new input[type=submit],
#reservations_download a,
.remove_button a,
.search_button input[type=submit],
#geocode_button,
.edit_button a,
.child_dish_delete_button input{
	padding: 5px 20px;
	color: #fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	border: none;	
	font-size: 13px;
	cursor: pointer;	
	display: block;	
}

#controls_edit {
	float: left;
	margin-right: 10px;
}

#controls_edit a, .edit_button a {
	background: url(/images/admin/submit_buttons/edit.png) repeat-x #C0762B;	
	background: -webkit-gradient(linear, left top, left bottom, from(#DCAC5D), to(#C0762B));
	background: -moz-linear-gradient(top,  #DCAC5D,  #C0762B);	
}

#change_password_button {
	width: 150px;
}

#controls_delete a,
.remove_button a,
.child_dish_delete_button input {
	background: url(/images/admin/submit_buttons/delete.png) repeat-x #990000;	
	background: -webkit-gradient(linear, left top, left bottom, from(#C55D5C), to(#990000));
	background: -moz-linear-gradient(top,  #C55D5C,  #990000);	
}

#controls_delete a{
	width: 35px;
	margin-left: 75px;
	margin-right: 10px;	
}

#reservations_index .remove_button {
	margin-left: 670px;
	width: 90px;
}

.add_new a, 
#reservations_download a,
.add_new input[type=submit] {
	background: url(/images/admin/submit_buttons/new.png) repeat-x #3399CC;	
	background: -webkit-gradient(linear, left top, left bottom, from(#9ABCDC), to(#3399CC));
	background: -moz-linear-gradient(top,  #9ABCDC,  #3399CC);
}

.add_new {
	width: 130px;
}

#add_new_gallery, #add_new_person {
	width: 140px;
}

#add_new_testimonial {
	width: 160px;
}

#add_new_menu_section {
	width: 175px;
}

.update_button input[type=submit], 
.search_button input[type=submit],
#geocode_button {
	background: url(/images/admin/submit_buttons/update.png) repeat-x #438823;		
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);	
	border: none;
	cursor: pointer;
}

.update_button {
	margin-top: 10px;
}

.search_button {
	float: right;
	margin-right: 150px;
}

#reservations_download a {
	float: right;
}

.save_top_right {
	position: absolute;
	right: 0px;
	top: 0px;
}

/*
*********************************************************
Header
*********************************************************
*/

#header {
	padding-top: 20px;
	color: #fff;
	height: 140px;
}

#header a {
	color: #fff;
}

#header h1 {
	margin-bottom: 20px;
	font-size: 30px;
	height: 60px;
}

div#user_status {
	float: right;
}


#top_nav {
	margin-top: 32px;
}

#top_nav li{
	display: block;
	float: left;
}

#top_nav a {
	padding: 15px 15px 9px 15px;
}

#top_nav li.selected a {
	background-color: #EBE5D8;
	border: 1px solid #fff;
	border-bottom: 1px #EBE5D8;
	-moz-border-radius-topright: 5px;	
	-moz-border-radius-topleft: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	color: #333;	
}

/* 
************************************************************
Info
************************************************************
*/

#geocode_button {
	float: right;
	margin: 5px 136px 0 0;	
}



input.opening_input {
	width:100px;
}

.opening_item {
	height:50px;
}

.opening_label {
	float: left;
	height: 38px;
	width: 170px;
	padding-top: 12px;
}

.opening_open {
	float:left;
	width: 230px;

	position: relative;
}

.opening_close {
	width: 200px;
	margin-left: 393px;
	position: relative;
}

.opening_sub_label {
	position: absolute;
	top: 12px;
	left: -50px;
}

/*
*********************************************************
Menus
*********************************************************
*/

#dishes {
	margin-bottom: 20px;
}

.move_icon {
	position: absolute;
	left: -35px;
	top: 22px;
	background: url(/images/admin/move_icon.png);
	height: 14px;
	width: 14px;
}

.dish_price {
	float: right;	
	width: 50px;	
	font-size: 16px;
}

.dish_details {
	font-size:14px;
}

.dish_description {
	font-style: italic;
	color: #666;
	width: 500px;
}

/*
*********************************************************
Menus with children
*********************************************************
*/

.dish_children {
	padding: 0 0 10px 10px;
}

.dish_child {
	margin-top: 5px;
	clear: left;
}

.child_dish_price {
	float: right;	
	width: 50px;	
}

/*
*********************************************************
Child dishes
*********************************************************
*/

.edit_child_dishes {
	margin: 10px 0 15px 25px;
	padding: 6px 0 2px 8px;
	background: url(/images/admin/orderable_menu_background.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	width:483px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	position: relative;	
	min-height: 20px;
}

.edit_child_dishes label {
	display: block;
	font-size: 11px;
	margin-bottom: 5px;
	cursor: move;	
}

.edit_child_dishes_name {
	margin-right: 20px;
}

.edit_child_dishes_price {
	float: right;
	margin-right: 20px;
	position: relative;
}

.child_dish_delete_button {
	margin-left: 700px;
	position: absolute;
	top: 18px;
	right: -125px;
}

.edit_child_dishes_name input[type=text] {
	width: 315px;
	font-size: 14px;
	cursor: text;
}

.edit_child_dishes_price input[type=text] {
	width: 100px;
	font-size: 14px;
	cursor: text;
}

#add_new_child_dish {
	margin: 10px 0 0 25px;
}

#add_new_child_dish_single {
	margin-top: 10px;
}


#save_dish_with_children {
	margin-top: 20px;
}

li.child_dish_item {
	position: relative;
}

.child_move_icon {
	position: absolute;
	left: 0px;
	top: 30px;
	background: url(/images/admin/move_icon.png);
	height: 14px;
	width: 14px;
}

.child_dish_name {
	float: left;	
	width:450px;
	font-size: 12px;
}

.child_dish_price {
	font-size: 12px;
	text-align: right;
	margin-right: 10px;	
}


/*
*********************************************************
Testimonials
*********************************************************
*/

.testimonial_testimonial {
	font-size: 13px;
	font-style: italic;
	color: #666;
}

/*
*********************************************************
Users
*********************************************************
*/

.index_item_users {
	font-size:16px;
	width:600px;
	position: relative;	
	min-height: 40px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #ccc;
	padding: 10px 0;
}

.user_status {
	font-size: 14px;
}

select#user_status {
	width: 200px;
	margin-bottom: 10px;
}

/*
*********************************************************
Reservations
*********************************************************
*/


.form_hidden {
	display: none;
}

.reservations_form {
	position: relative;
	float: left;
	margin-right: 10px;
}

.form_wrapper {
	height: 50px;
}

.remove_button {
	padding: 10px 0px 0px 0px;
}

.field_name_select {
	width: 120px;
	float: left;
	padding: 10px 10px 0px 0px;
	text-align: right;
}

table {
	width: 800px;
	margin-top: 30px;
}

table td{
	padding: 2px;
	border-bottom: 1px dotted #ccc;
	font-size: 12px;
}

/*
*********************************************************
Galleries
*********************************************************
*/


#photo {
	float:left;
	margin-right: 10px;
}

.photo input[type=file] {
	vertical-align: top;
}

.photo img {
	margin-right: 10px;
}

.photo_details {
	font-size:13px;
	background: url(/images/admin/orderable_photo_background.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	border: 1px solid #ccc;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	padding: 10px;
	position: relative;	
	height: 70px;
}
