* {
	margin: 0px;
	padding: 0px;
}

a, a:visited {
	text-decoration: none;
	color: #8C5E59;
}

body {
	background-color: #F4F1E8;
	color: #666;
	font-family: 'OFL Sorts Mill Goudy TT', arial, serif;
	font-size: 13px;
}

h1, h2, h3 {
	color: #8C5E59;

}

#wrapper {
	margin: auto;
	width: 960px;
}

#header {
	height: 80px;
	color: #8C5E59;

}

#restaurant_name {
	float:left;
	padding: 30px 0 0 12px;
}

#address_phone {
	padding-top:30px;
	text-align: right;
	font-size: 16px;
}

#inner_wrapper {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#sitenav {
	float: left;
	width: 160px;
	height: 100%;
	background-color: #EFECE4;
	padding: 20px 0 20px 15px;
	font-size: 16px;

}

#sitenav li {
	list-style-type: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

#sitenav li.selected {
	background-color: #8C5E59;
	padding: 5px 10px;
	margin: -5px 0 5px 0;
}

#sitenav li.selected a{
	color: #fff;
}

#sitenav a, #sitenav a:visited {
	color: #8C5E59;
}

.content {
	padding: 10px;
	background: url(/images/brasserie/backgrounds/wrapper_background.png) repeat-x #8C5E59;
	margin-left: 175px;
}

.content_inner {
	background-color: #F4F1E8;	
	padding: 10px;
	min-height: 319px;
}

#footer {
	margin: auto;
	margin-top: 10px;
	width: 930px;
	text-align: center;
	margin-bottom: 20px;
}

#footer a, #footer a:visited {
	color: #666;
}


#homepage_intro {
	width: 390px;
}

#opening_times {
	margin-top: 20px;
}

#opening_times_header {
	padding: 0px 0px 10px 50px;
}

.opening_time {
	margin-bottom:5px;
	font-size:16px;
}

.opening_time_day {
	float:left;
	width:100px;
}

.opening_time_open {
	float:left;
	width:70px;
}

/*
**********************************************************
Backgrounds
**********************************************************
*/


#homepage_content_inner {
	background: url(/images/brasserie/backgrounds/tile1.jpg) no-repeat #F4F1E8 right top;
}

#menus_content_inner {
	background: url(/images/brasserie/backgrounds/tile2.jpg) no-repeat #F4F1E8 right top;
}

#offers_content_inner {
	background: url(/images/brasserie/backgrounds/tile3.jpg) no-repeat #F4F1E8 right top;
}

#testimonials_content_inner {
	background: url(/images/brasserie/backgrounds/tile4.jpg) no-repeat #F4F1E8 right top;
}

#reservations_content_inner {
	background: url(/images/brasserie/backgrounds/tile5.jpg) no-repeat #F4F1E8 right top;
}

/*
**********************************************************
Menu
**********************************************************
*/

.menu_section {
	margin: 10px 0 20px 0;
	width: 380px;
}

h2.menu_name {
	margin-bottom: 5px;
}

.dish_right {
	float: right;
}

.dish {
	margin-bottom: 10px;
}

.dish_name {
	font-size: 16px;
}

.dish_description {
	font-style: italic;
}

/*
**********************************************************
Reservations
**********************************************************
*/

#reservations_content_main {
	width: 380px;
}

#reservations_text {
	margin-bottom: 10px;
}

#reservation_form input {
	border: 1px solid #999;
	background: url(/images/admin/input_background.png);
	padding: 8px;
	width: 360px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Arial;
}

#reservation_form select {
	width: 200px;
	margin-bottom: 10px;
}

#reservation_form input[type=submit] {
	background: url(/images/brasserie/backgrounds/wrapper_background.png);
	width:160px;
	padding: 10px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	color: white;
	border: 1px solid #8C5E59;
	cursor: pointer;
}

.reservation_label {
	font-size: 16px;
	margin-bottom: 5px;
}

/*
**********************************************************
Gallery
**********************************************************
*/

#gallery_content {
	position: relative;
	height: 600px;
}

#gallery_content h1{
	display: none;
}

#gallery_main_image {
	float: right;
	position: relative;
	width:600px;
	height: 400px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-right: -10px;
	margin-top: -10px;
}

#gallery_inner {
	position: absolute;
	width:10000px;
}

#gallery_caption {
	position: absolute;
	left: 133px;
	top: -10px;
	width: 590px;
	z-index: 1;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	background-color: white;
	color: #000;
	font-size: 16px;
	padding: 2px 5px;
}

a.previous {
	position: absolute;
	left: 0px;
	top:150px;
	z-index: 1;
	cursor: pointer;
}

a.next {
	position: absolute;
	right: -10px;
	top:150px;
	z-index: 1;
	cursor: pointer;
}

#thumbnails {
	position: relative;
	overflow: hidden;
	height: 489px;
}

.block { 
	position:absolute; 
	left:0px;
	height: 1000%;
	overflow: hidden;
}

.block img:hover {
	cursor: pointer;
}

.block li {
	width: 113px;
	height: 113px;
	margin-right: 4px;
	padding: 5px;
	list-style-type: none;
}

.block li.selected {
	border: 5px solid #333;
	padding: 0px;
	margin-right: 3px;
}

.block li img {
	padding: 1px;
}

.block li.selected img {
	padding: 0px;
}


.block li img:hover {
	border: 1px solid black;
	padding: 0px;
}

.block li.selected img:hover {
	border: none;
}

/*
**********************************************************
Offers
**********************************************************
*/


.offer_item_image {
	display: none;
}

.offer_submit a, .offer_submit a:visited {
	background: url(/images/brasserie/backgrounds/wrapper_background.png);
	padding: 5px;
	border: 1px solid #8C5E59;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	color: white;
	float: right;
}

#offers_content {
	width: 390px;
}

#offers_content img {
	display: none;
}

.offer_submit {
	display: none;
}

.offer_item {
	margin-bottom: 10px;
}

#offer_t_and_c {
	margin-top: 10px;
}



/*
**********************************************************
Location
**********************************************************
*/

#map_canvas {
	width: 400px;
	height: 500px;
	margin: -10px -10px 0 20px;
	float: right;
}

#location_content_inner {
	min-height: 500px;
}

/*
**********************************************************
Testimonials
**********************************************************
*/


#testimonial_content {
	width: 390px;
}

.testimonial_wrapper {
	margin-bottom: 10px;
}

.testimonial_name {
	color: #8C5E59;
}

/*
**********************************************************
People
**********************************************************
*/
#people_header {
	display: none;
}

.people_index_item {
	height: 200px;
}

.people_image_index {
	float: right;
	width: 310px;
	height: 200px;
	margin: -10px -20px 0 20px;
}

.people_name_index {
	float: left;
	font-size: 18px;
	color: #8C5E59;
	margin-right: 5px;
}

.people_role_index {
	font-size: 18px;
	color: #8C5E59;
}

#people_image {
	float: right;
	margin: -49px -10px 0 10px;
}