* {
	margin: 0;
	padding: 0;
}

a, a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	color: #333;
}

li {
	list-style-type: none;
}

a.button {
	padding: 7px 10px;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	border: none;
	color: #fff;
}

input[type=submit].button {
	padding: 7px 10px;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	border: none;
	color: #fff;
	font-size: 16px;
}

body {
	background-color: #ccc;
	font-family: Myriad Pro, Arial;
	color: #666;
}

#wrapper {
	width: 910px;
	margin: auto;
}

#header {
	height: 80px;
	color: #333;
}

#restaurant_name {
	float:left;
	padding-top: 30px;
}

#restaurant_name a {
	text-decoration: none;
	font-size: 30px;
}

#address_phone {
	padding-top:20px;
	text-align: right;
	font-size: 16px;
}

#phone {
	font-size: 22px;
}


#site_nav {
	float: left;
	font-size: 16px;
	width: 150px;
	background-color: #aaa;
	height: 600px;
}

#site_nav li {
	list-style-type: none;
	padding: 10px;
}

#site_nav li.selected {
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333));
	background: -moz-linear-gradient(top,  #999,  #333);
}

#site_nav li.selected a{
	color: #fff;	
}


.content {
	background-color: #fff;
	margin-left: 150px;
	padding: 20px;
	position: relative;	
}

#footer {
	height: 200px;
}

#footer_content {
	margin: auto;
	width: 920px;
	padding: 20px 0;
	text-align: center;
}

/*
**********************************************************
Homepage
**********************************************************
*/

#homepage_index_content {
	height: 650px;
}

#homepage_image {
	margin-bottom: 10px;
}

#homepage_content_left {
	width: 400px;
	float: left;
	margin-right: 20px;
}

#opening_times {
	margin-top: 20px;
}

#opening_times_header {
	padding: 0px 0px 10px 50px;
}

.opening_time {
	margin-bottom:5px;
	font-size:16px;
}

.opening_time_day {
	float:left;
	width:100px;
}

.opening_time_open {
	float:left;
	width:70px;
}


/*
**********************************************************
Reservations
**********************************************************
*/

#reservations_content_main {
	padding: 10px 0
}

#reservations_text {
	float:right;
	width: 300px;
	margin-top:22px;
}

#reservations_text p{
	margin-bottom: 10px;
}

#reservation_form input {
	border: 1px solid #999;
	background: url(/images/admin/input_background.png);
	padding: 8px;
	width: 380px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Arial;
}

#reservation_form input {
}

#reservation_form select {
	width: 200px;
	margin-bottom: 10px;
}

#reservation_form input[type=submit] {
	padding: 5px;
	height: 33px;
	width: 175px;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	border: none;
	color: #fff;
}

.reservation_label {
	font-size: 16px;
	margin-bottom: 5px;
}

/*
**********************************************************
Location
**********************************************************
*/

#map_canvas {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

/*
**********************************************************
Menus
**********************************************************
*/

.menu_section {
	margin-bottom: 30px;
}

.menu_section h1 {
	margin-bottom: 10px;
}

.dish {
	margin-bottom: 10px;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 5px;
	width: 660px;
}

.dish_right {
	float: right;
	width: 100px;
	margin-left: 20px;
}

.dish_description {	
	width: 600px;
}

.dish_name {
	font-weight: bold;
	float: left;
	width: 600px;
}

.sub_menu_section {
	margin-bottom: 30px;
	background-color: #eee;
	padding: 10px;
}

h3.sub_menu {
	margin-bottom: 20px;
}

.sub_dish {
	padding-left: 20px;
}
.sub_dish_name {
	float: left;
	width: 580px;
}

/*
**********************************************************
Testimonials
**********************************************************
*/

#testimonial_content {
	padding: 20px;
}

.testimonial_text {
	font-size: 16px;
	margin-bottom: 10px;
	position: relative;
}

.testimonial_wrapper {
	border-bottom: 1px dotted #ccc;
	width: 600px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.testimonial_name {
	font-weight: bold;
	color: #51618B;
}

.quote_left {
	height:10px;
	width:13px;
	background: url(/images/plane_food/quote.png) no-repeat;
	position: absolute;
	top: 0px;
	left: -20px;
}

.quote_right {
	height:10px;
	width:13px;
	background: url(/images/plane_food/quote.png) no-repeat;
	position: absolute;
	bottom: -10px;
	right: -20px;
}

/*
************************************************************
Checkout
************************************************************
*/

.checkout_content {
	background: #fff;
	padding: 20px;
	position: relative;	
}

#order_online_button {
	position: absolute;
	top: -27px;
	right: -110px;
}

#order_form {
	width: 490px;
}

#order_form .menu_section h2 {
	margin-bottom: 10px;
}

#order_form .dish_add {
	float: right;
	width: 70px;
}

#order_form .dish_name {
	font-weight: normal;
}

.field {
	margin-bottom: 10px;
}

.field input {
	width: 300px;
	height: 20px;
}

#orders_continue_button {
	position: absolute;
	bottom: -50px;
	right: 0px;
}



/*
************************************************************
Progress bar
************************************************************
*/

#progress_bar {
	background-color: #E2E7EC;
	padding: 10px 25px 10px 45px;
	margin-bottom: 20px;
	height: 20px;
}

#progress_bar li {
	float: left;
	margin-right: 40px;
	color: #666;
}

#progress_bar a, #progress_bar a:visited {
	color: #000;
}


/*
************************************************************
Basket
************************************************************
*/

#basket {
	float: right;
	background-color: #E2E7EC;
	width: 350px;
	padding: 10px;
	position: relative;
}

#basket h3 {
	margin-bottom: 10px;
}

#basket .dish {
	margin-bottom: 10px;
	font-size: 12px;
}

#basket .dish_name {
	font-weight: normal;
	font-size: 14px;
}

#basket .price {
	float: right;
	width: 105px;
	height: 20px;
	font-size: 14px;
	position: relative;
	margin-left: 20px;
}

#basket .remove {
	width: 61px;
	position: absolute;
	right: 0px;
	top: -2px;
}

#basket #total, #basket #total .price {
	font-size: 18px;
	font-weight: bold;
}

#basket #total .price {
	text-align: right;
	margin-right: 5px;
}

/*
************************************************************
Delivery
************************************************************
*/

.details_section {
	margin-bottom: 40px;
}

#address_change {
	margin-top: 10px;
}

/*
************************************************************
Confirm
************************************************************
*/

h2#confirm {
	margin-bottom: 10px;
}

.confirm_section {
	background-color: #E2E7EC;
	padding: 10px;
	margin-bottom:20px;
	width: 450px;
	position: relative;	
}

.confirm_section h3 {
	margin-bottom: 10px;
}

.confirm_section .edit {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	font-weight: normal;
}

#confirm_dishes .dish {
	margin-bottom: 5px;
	font-size: 14px;
}

#confirm_dishes .dish_name {
	font-weight: normal;	
}

#confirm_dishes .price {
	float: right;
	width: 60px;
	text-align: right;
}

#confirm_dishes #total {
	font-weight: bold;
}

.confirm_item {
	margin-bottom: 5px;
}

.confirm_right {
	text-align: right;
	float: right;
	width: 200px;
}

#payment_button {
	text-align: right;
	margin-right: 250px;
}

#total {
	margin-top: 20px;
}

/* 
************************************************************
Gallery
************************************************************
*/

p#gallery_snippet {
	margin-bottom: 20px;
}

.galleries_content .photo {
	float: left;
	margin: 0 10px 10px 0;
}

/* 
************************************************************
Lightbox
************************************************************
*/

#gallery ul li { 
	display: inline; 
}

#gallery ul img {
	border: 5px solid #FFF;
	border-width: 5px;
}
#gallery ul a:hover img {
	border: 5px solid #51618B;
	border-width: 5px;
}

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}


/* 
************************************************************
Offers
************************************************************
*/

.offer_item {
	margin-bottom: 20px;
	min-height: 120px;
}

* html .offer_item {
	height: 100px;
}

.offer_item_image {
	float: left;
	margin-right: 20px;
}

.offer_submit {
	margin-top: 10px;
}

/* 
************************************************************
People
************************************************************
*/

.people_index_item {
	margin-bottom: 20px;
	min-height: 130px;
}

* html .people_index_item {
	height: 130px;
}

.people_image_index {
	float: left;
}

.people_right_index {
	margin-left: 120px;
}

.people_name_index {
	font-size:;
}

.people_profile_index {
	margin-top: 10px;
}

#people_image {
	float: left;
	margin-right: 20px;
}

/* 
************************************************************
Flash message
************************************************************
*/

.flash {
	padding: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);
	color: white;
	text-shadow: none;
	margin-bottom: 20px;
}


/*
************************************************************
Clearfix
************************************************************
*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
