* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

body {
	color: #666;
	font-family: Arial;
	font-size: 13px;
	background-color: #eee;
}

#wrapper {
	background: url(/images/plane_food/backgrounds/wrapper.png) no-repeat;	
	padding: 30px;
	margin: auto;
	width: 930px;
	margin-top: 20px;
	margin-bottom: 20px;	
	-webkit-box-shadow: 0px 0px 5px #666;
}

#header {
	background: url(/images/plane_food/backgrounds/header_top.png) #35343c;	
	height: 38px;
	padding: 60px 10px 10px 10px ;
	color: white;
}

#header h1 {
  color:white;
  font-size:34px;
  font-weight: normal;
}


#restaurant_name {
	float: left;
}

#restaurant_name a, #restaurant_name a:visited{
	color: #fff;
}

#address_phone {
	text-align: right;
}

#phone_number {
	font-size: 24px;
}

#top_nav {
	background-color: #474751;
	border-top: 1px solid #9c99ae;
	padding: 10px;
	height: 20px;
}

#top_nav a, #top_nav a:visited {
	color: #ccffff;
	font-size: 16px;
}

#top_nav li {
	display: block;
	float: left;
	margin-right: 30px;
}

#top_nav li.selected a{
	color: #fff;
}

.content {
	margin-top: 30px;
	background-color: #efefe5;
	padding: 20px;
	border: 1px solid #fff;
	text-shadow: 1px 1px #FFF;	
}

#content h1 {
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 10px;
}

#content h2 {
	font-weight: normal;
}

#footer {
	margin: auto;
	width: 930px;
	text-align: center;
	margin-bottom: 20px;
}

#footer a, #footer a:visited {
	color: #666;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  color: #fff;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* 
************************************************************
Flash message
************************************************************
*/

.flash {
	padding: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#8BC51E), to(#438823));
	background: -moz-linear-gradient(top,  #8BC51E,  #438823);
	color: white;
	text-shadow: none;
	margin-bottom: 20px;
}


/*
**********************************************************
Menu
**********************************************************
*/

#menu_content a {
	color: #666;
}

#menu_menu, #gallery_menu, #people_menu, #offers_menu {
	float:left;
	width: 140px;
	font-size: 16px;
	margin-top:20px;
	height: 100%;
	background-color: #F6F6F0;
	padding: 20px 0 100px 10px;
	margin: -20px;
}

#offers_menu {
	width: 200px;
}

#menu_menu li, #gallery_menu li, #people_menu li, #offers_menu li {
	margin-bottom: 5px;
	list-style-type: none;
	padding: 5px 5px 5px 15px;

}

#menu_menu li.selected, #gallery_menu li.selected, #people_menu li.selected, #offers_menu li.selected {
	background-color: #EFEFE5;
}

#menu_menu a, #menu_menu a:visited, #gallery_menu a, #gallery_menu a:visited, #people_menu a, #people_menu a:visited, #offers_menu a, #offers_menu a:visited {
	color: #666;
}

#menu_menu li.selected, #menu_menu li.selected {
	color: #000;
}

#menu_content, #gallery_content, #people_content, #offers_content {
	margin-left: 170px;
	min-height: 400px;
	font-size:14px;
}

#offers_content {
	margin-left: 220px;
}

.menu_section {
	margin-bottom: 30px;
}

.menu_name {
	margin-bottom: 10px;
}

.dish_right {
	float: right;
	width: 100px;
	margin-right: 50px;
}

.dish {
	margin-bottom: 10px;
}

.dish_name {
	font-size: 16px;
	font-weight: bold;
}

.dish_name_description {
	float: right;
	width: 390px;
}

.dish_price {
	font-size: 22px;
}

.dish img {
	border: none;
}

#back_to_menu_link {
	float: right;
	margin-right: 20px;
	font-size: 16px;
}

#dishes_show_content #dish_description {
	margin-bottom: 10px;
}

/*
**********************************************************
Gallery
**********************************************************
*/


#thumbnails {
	position: relative;
	width:505px;
	overflow: hidden;
	height: 130px;
}

.block { 
	position:absolute; 
	left:0px;
	height: 130px;
	width: 1000%;
	overflow: hidden;
}

.block img:hover {
	cursor: pointer;
}

#gallery_main_image {
	position: relative;
	width:500px;
	height: 333px;
	overflow: hidden;
	margin-bottom: 10px;
}

#gallery_inner {
	width:10000px;
	position: relative;
}

#previous_main {
	position: absolute;
	top: 135px;
	cursor: pointer;
	z-index: 1;
}

#next_main {
	position: absolute;
	top: 135px;
	right: 0px;
	cursor: pointer;
	z-index: 1;
}

.block li {
	float:left;
	width: 113px;
	height: 113px;
	margin-right: 4px;
	padding: 5px;
	list-style-type: none;
}

.block li.selected {
	border: 5px solid #333;
	padding: 0px;
	margin-right: 3px;
}

.block li img {
	padding: 1px;
}

.block li.selected img {
	padding: 0px;
}


.block li img:hover {
	border: 1px solid black;
	padding: 0px;
}

.block li.selected img:hover {
	border: none;
}

#gallery_menu li.selected {
	text-decoration: underline;
}

#gallery_caption {
	float: right;
	width: 200px;
}


/*
**********************************************************
Reservations
**********************************************************
*/

#reservations_content_main {
	padding: 10px 20px;
}

#reservations_text {
	float:right;
	width: 300px;
	margin-right: 100px;
	margin-top:22px;
}

#reservations_text p{
	margin-bottom: 10px;
}

#reservation_form input {
	border: 1px solid #999;
	background: url(/images/admin/input_background.png);
	padding: 8px;
	width: 380px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Arial;
}

#reservation_form select {
	width: 200px;
	margin-bottom: 10px;
}

#reservation_form input[type=submit] {
	background: url(/images/plane_food/backgrounds/submit_button.png);
	width:160px;
	padding: 10px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	color: white;
	border: 1px solid #157F9F;
	cursor: pointer;
}

.reservation_label {
	font-size: 16px;
	margin-bottom: 5px;
}

/*
**********************************************************
Testimonials
**********************************************************
*/

#testimonial_content {
	padding: 20px;
}

.testimonial_text {
	font-size: 16px;
	margin-bottom: 10px;
	position: relative;
}

.testimonial_wrapper {
	border-bottom: 1px solid #ccc;
	width: 600px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.quote_left {
	height:10px;
	width:13px;
	background: url(/images/plane_food/quote.png) no-repeat;
	position: absolute;
	top: 0px;
	left: -20px;
}

.quote_right {
	height:10px;
	width:13px;
	background: url(/images/plane_food/quote.png) no-repeat;
	position: absolute;
	bottom: -10px;
	right: -20px;
}

/*
**********************************************************
Homepage
**********************************************************
*/

#homepage_intro {
	width: 580px;
	margin-right: 50px;
	float: left;
}

#homepage_title {
	margin-top: 20px;
}

#homepage_title h1{
	border: none;
}

#homepage_text {
	font-size: 14px;
}

#opening_times {
	margin: 20px 0 50px 0;
}

#opening_times_header {
	padding: 0px 0px 10px 50px;
}

.opening_time {
	margin-bottom:5px;
	font-size:16px;
}

.opening_time_day {
	float:left;
	width:100px;
}

.opening_time_open {
	float:left;
	width:70px;
}


.homepage_slider_left{
	float: left;
	width: 250px;
	height: 270px;
	background-color: #972D1F;
	padding: 20px;
	position: relative;
	color: #FFF;
	text-shadow: 1px 1px #000;	
	text-align: center;
}

.homepage_slider_left_top, .offer_left_top {
	font-size: 30px;
	height: 90px;
}

.homepage_slider_left_bottom, .offer_left_bottom {
	font-size: 18px;
	padding-top: 10px;
}

.homepage_slider_inner {
	border: 1px solid #d13e2c; 
	height: 240px;
	padding: 10px 10px 10px 20px;	
}

.homepage_slider_submit {
	background: url(/images/plane_food/backgrounds/submit_button.png);
	width:105px;
	padding: 10px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border: 1px solid #157F9F;
	cursor: pointer;	
	position: absolute;
	bottom: 50px;
	left: 80px;
}

.homepage_slider_submit a, .homepage_slider_submit a:visited {
	color: white;
}

.homepage_slider_right, .offer_right {
	background-color: white;
	width:565px;
	margin-left: 300px;
	height:300px;
	margin-right: 10px;
}


#slideshow {
  position:relative;	
  padding: 10px;
  background-color: white;
	-webkit-box-shadow: 0px 0px 5px #666;

}

#slideshow #slidesContainer {
  margin:0 auto;
  width:865px;
  height:300px;
  overflow:auto; /* allow scrollbar */
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:865px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:300px;
}

.control {
  display:block;
  width:39px;
  height:263px;
  position:absolute;
  cursor: pointer;
	z-index: 1;
}
#leftControl {
  top:120px;
  left:0px;
  background:transparent url(img/control_left.jpg) no-repeat 0 0;
}
#rightControl {
  top:120px;
  right:3px;
  background:transparent url(img/control_right.jpg) no-repeat 0 0;
}

/*
**********************************************************
People
**********************************************************
*/

#people_image {
	float:left;
	margin-right: 10px;
}

#people_content {
	min-height: 400px;
}

.people_index_item {
	height: 140px;
}

.people_image_index {
	float:left;
	margin-right: 10px;
}

.people_name_index {
	font-size: 20px;
	float: left;
	margin-right: 5px;
}

.people_role_index {
	font-size: 20px;	
}
/*
**********************************************************
Offer
**********************************************************
*/

#offer_wrapper {
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px #666;	
}


#offer_t_and_c {
	margin: 20px 0px 10px 0px;
}

.offer_item {
	height:150px;
	position: relative;
	width: 600px;
}

.offer_item_image {
	float:left;
	width: 240px;
}

.offer_submit {
	background: url(/images/plane_food/backgrounds/submit_button.png);
	width:85px;
	padding: 10px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border: 1px solid #157F9F;
	cursor: pointer;
	position: absolute;
	bottom: 40px;
	right: 20px;
}

.offer_submit a, .offer_submit a:visited {
	color: #fff;
	text-shadow: none;
}

#offer_title {
	
}

#offer_description {
	margin-bottom: 20px;
}


/*
**********************************************************
Location
**********************************************************
*/

#location_address {
	margin: 10px 0px 10px 0px;
}

#map_canvas {
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}

/*
************************************************************
Checkout
************************************************************
*/

.checkout_content {
	background: #EFEFE5;
	padding: 20px;
	position: relative;	
}

#order_online_button {
	position: absolute;
	top: -27px;
	right: -110px;
}

#order_form {
	width: 490px;
}

#order_form .menu_section h2 {
	margin-bottom: 10px;
}

#order_form .dish_add {
	float: right;
	width: 70px;
}

#order_form .dish_name {
	font-weight: normal;
}

.field {
	margin-bottom: 10px;
}

.field input {
	width: 300px;
	height: 20px;
}

#orders_continue_button {
	position: absolute;
	bottom: -50px;
	right: 0px;
}



/*
************************************************************
Progress bar
************************************************************
*/

#progress_bar {
	background-color: #E4E3C4;
	padding: 10px 25px 10px 45px;
	margin-bottom: 20px;
	height: 20px;
}

#progress_bar li {
	float: left;
	margin-right: 40px;
	color: #666;
	list-style-type: none;
}

#progress_bar a, #progress_bar a:visited {
	color: #000;
}


/*
************************************************************
Basket
************************************************************
*/

#basket {
	float: right;
	background-color: #E4E3C4;
	width: 350px;
	padding: 10px;
	position: relative;
}

#basket h3 {
	margin-bottom: 10px;
}

#basket .dish {
	margin-bottom: 10px;
	font-size: 12px;
	min-height: 10px;
	width: 350px;
}

* html #basket .dish {
	height: 10px;
}

#basket .dish_name {
	font-weight: normal;
	font-size: 14px;
	width: 200px;
}

#basket .price {
	float: right;
	width: 105px;
	height: 20px;
	font-size: 14px;
	position: relative;
	margin-left: 20px;
}

#basket .remove {
	width: 61px;
	position: absolute;
	right: 0px;
	top: -2px;
}

#basket #total, #basket #total .price {
	font-size: 18px;
	font-weight: bold;
}

#basket #total .price {
	text-align: right;
	margin-right: 5px;
}

#basket li {
	list-style-type: none;
}
/*
************************************************************
Delivery
************************************************************
*/

.details_section {
	margin-bottom: 40px;
}

#address_change {
	margin-top: 10px;
}

/*
************************************************************
Confirm
************************************************************
*/

h2#confirm {
	margin-bottom: 10px;
}

.confirm_section {
	background-color: #E2E7EC;
	padding: 10px;
	margin-bottom:20px;
	width: 450px;
	position: relative;	
}

.confirm_section h3 {
	margin-bottom: 10px;
}

.confirm_section .edit {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	font-weight: normal;
}

#confirm_dishes .dish {
	margin-bottom: 5px;
	font-size: 14px;
}

#confirm_dishes .dish_name {
	font-weight: normal;	
}

#confirm_dishes .price {
	float: right;
	width: 60px;
	text-align: right;
}

#confirm_dishes #total {
	font-weight: bold;
}

.confirm_item {
	margin-bottom: 5px;
}

.confirm_right {
	text-align: right;
	float: right;
	width: 200px;
}

#payment_button {
	text-align: right;
	margin-right: 250px;
}

#total {
	margin-top: 20px;
}
