<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @reservation.name %>. Thanks for your reservation</h1>
    <p>
      We look forward to your visit
    </p>
  </body>
</html>