<h1>Edit dish</h1>
<div class="content_unit">
	<% if @dish.has_children? %>
	<%= render 'admin/dishes/template4/edit_child_dish' %>
	<% else %>
	<%= render 'admin/dishes/template4/edit_single_dish' %>
	<% end %>	
</div>

