<h2><%= admin_new_dishes_breadcrumb %></h2>
<% if params[:parent_id] %>
	<%= render 'admin/dishes/template4/new_child_dish' %>
<% else %>
	<%= render 'admin/dishes/template4/new_single_dish' %>
<% end %>	
