<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>

<% for photo in @photos %>
	<table>
      <tr> 
		<td><%= photo.name %></td>
		<td><%= image_tag photo.photo.url(:thumb) %></td>
	  </tr>
    </table>
<% end %>

