<% content_for :sub_menu do %>
<div id="menu_menu">
		<ul>
			<li><%= link_to 'All', :controller => 'menus', :action => 'index' %></li>
			<% @menus.each do |menu| %>
				<%= menu_item(menu) %>
			<% end %>
		</ul>
</div>
<% end %>
<div id="menu_content">
<%= render "menus/template2/#{@menu.menu_type}_menu_show" %>
</div>