<h1>All Testimonials</h1>
<div id="testimonial_content">
<div class="quote">
</div>
<% @testimonials.each do |testimonial| %>
<div class="testimonial_wrapper">
	<div class="testimonial_text">
		<div class="quote_left">
		</div>
		<%= testimonial.testimonial %>
		<div class="quote_right">
		</div>
	</div>
	<div class="testimonial_name">
		<%= testimonial.name %>
	</div>
</div>
<% end %>
</div>