<div id="footer">
	<div id="footer_content">
		<% if @pages %>
			<% @pages.each do |page| %>
			<%= link_to page.name, :controller => 'pages', :action => 'show', :id => page.id %>&nbsp;&nbsp;&nbsp; 
			<% end %>
		<% end %>
		<%= link_to 'Contact us', contact_path %>
	</div>
</div>